/*
 * Copyright 2014-2023 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 * Adds chromia-flavor to the default styles
 */

@import url('./font-jb-sans-auto.css');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

/* --- root styles --- */
:root {
    /* --- Chromia styles --- */
    --ifm-color-primary: #9e5ecf;
    --ifm-color-primary-dark: #9047c8;
    --ifm-color-primary-darker: #893bc5;
    --ifm-color-primary-darkest: #7130a2;
    --ifm-color-primary-light: #ac75d6;
    --ifm-color-primary-lighter: #b381d9;
    --ifm-color-primary-lightest: #c8a4e4;
    --ifm-code-font-size: 95%;
    --ifm-background-color: #ffffff;

    --ifm-navbar-background-color: #1f1a23;
    --ifm-color-gray-800: #444950;

    --chromia-yellow: #ffb500;

    /* --- overrides --- */
    --background-color: #fff;
    --hover-link-color: #bc6feb;
    --border-color: #dadde1;

    --system-font-family: International-regular, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Oxygen, Ubuntu,Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    --default-font-family: International-regular, JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Oxygen, Ubuntu,Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    --bold-font-family: International-bold, JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Oxygen, Ubuntu,Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    --battlfin-font-family: Battlefin, JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Oxygen, Ubuntu,Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    --default-monospace-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

    --active-tab-border-color: var(--ifm-color-primary-darker);
    --active-section-color: var(--ifm-color-primary-darker);
    --sidemenu-section-active-color: #cc91f0;
    --dokka-logo-image-url: url('../images/chromia-symbol.png');
}

.theme-dark {
    /* --- Chromia styles --- */
    --ifm-color-primary: #cc91f0;
    --ifm-color-primary-dark: #bc6feb;
    --ifm-color-primary-darker: #b45ee9;
    --ifm-color-primary-darkest: #9d2be2;
    --ifm-color-primary-light: #dcb3f5;
    --ifm-color-primary-lighter: #e4c4f7;
    --ifm-color-primary-lightest: #fbf7fe;
    --ifm-background-color: #1f1a23!important;


    /* overrides */
    --background-color: var(--color-dark);
    --color-dark: var(--ifm-background-color);
    --default-font-color: hsla(0, 0%, 100%, 0.8);
    --border-color: hsla(0, 0%, 100%, 0.2);
    --code-background: hsla(0, 0%, 100%, 0.05);
    --breadcrumb-font-color: #8c8c8e;
    --brief-color: hsla(0, 0%, 100%, 0.4);
    --copy-icon-color: hsla(0, 0%, 100%, 0.6);
    --copy-icon-hover-color: #fff;

    --active-tab-border-color: var(--ifm-color-primary);
    --inactive-tab-border-color: hsla(0, 0%, 100%, 0.4);

    --active-section-color: var(--ifm-color-primary);
    --inactive-section-color: hsla(0, 0%, 100%, 0.4);

    --navigation-highlight-color: rgba(255, 255, 255, 0.05);
    --footer-background: hsla(0, 0%, 100%, 0.05);
    --footer-font-color: hsla(0, 0%, 100%, 0.6);
    --footer-go-to-top-color: var(--footer-font-color);

    --sidemenu-section-active-color: var(--color-dark);
}

.navigation {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.library-name--link {
    font-family: var(--bold-font-family);
    font-size: 1.05rem;
    color: var(--default-font-color);
}

.library-name--link:hover {
    color: var(--ifm-color-primary);
}

/* Search button styles */
#pages-search svg path {
    fill: var(--default-font-color);
}
.theme-dark #pages-search svg path {
    fill: var(--default-font-color);
}

.popup-wrapper {
    background-color: var(--color-dark) !important;
}

/* Logo styles */
:root {
    --dokka-logo-height: 32px;
    --dokka-logo-width: 32px;
}

/* Dark mode toggle */
.theme-dark .navigation-controls--theme {
    background-image: url("../images/theme-toggle-night.svg");
}

/* Platform bubbles */
.filter-section .platform-tag.js-like[data-active], .platform-tags .platform-tag.js-like {
    --platform-tag-color: var(--chromia-yellow);
}

.filter-section .platform-tag.wasm-like[data-active], .platform-tags .platform-tag.wasm-like {
    --platform-tag-color: var(--ifm-color-primary);
}

.filter-section .platform-tag[data-active]:hover {
    color: #19191c;
    background-color: var(--platform-tag-color);
    opacity: .8;
}

.filter-section .platform-tag:not([data-active])  {
    color: var(--default-font-color);
    background-color: transparent;
    border: 1px solid var(--default-font-color);
}
.filter-section .platform-tag.js-like:not([data-active]) {
    border-color: var(--chromia-yellow);
}
.filter-section .platform-tag.wasm-like:not([data-active]) {
    border-color: var(--ifm-color-primary);
}




@font-face {
    font-family: Battlefin;
    src: url("../fonts/Battlefin-Black.otf") format("opentype");
}
@font-face {
    font-family: International-bold;
    src: url("../fonts/NBInternationalBoldWebfont.ttf")
    format("opentype");
}
@font-face {
    font-family: International-regular;
    src: url("../fonts/NBInternationalRegularWebfont.ttf")
    format("opentype");
}
@font-face {
    font-family: International-light;
    src: url("../fonts/NBInternationalMonoWebfont.ttf")
    format("opentype");
}

h1 {
    font-family: var(--battlfin-font-family);
}

/* Navigation icons */
.nav-icon.class-kt::before {
    content: url("../images/nav-icons/class.svg");
}
.nav-icon.abstract-class-kt::before {
    content: url("../images/nav-icons/abstract-class.svg");
}
